<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cairo:wght@500&family=Quicksand:wght@300;400;600;700&display=swap"
        rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body style="background: #1A1A26;">
    <!-- SECTION 1 -->
    <div class="section1">
        <div class="wrapper">
            <div id="carousel-slider" class="carousel slide carousel-fade" data-ride="carousel" data-interval="2000">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="carousel-cont">
                            <div class="carousel-elem">
                                <img class="carousel-img" src="static/img/food1.svg" alt="First slide">
                                Pizza
                            </div>
                            <div class="carousel-elem">
                                <img class="carousel-img" src="static/img/food2.svg" alt="First slide">
                                pizza
                            </div>
                            <div class="carousel-elem">
                                <img class="carousel-img" src="static/img/food3.svg" alt="First slide">
                                pizza
                            </div>
                            <div class="carousel-elem">
                                <img class="carousel-img" src="static/img/food4.svg" alt="First slide">
                                pizza
                            </div>
                            <div class="carousel-elem">
                                <img class="carousel-img" src="static/img/food5.svg" alt="First slide">
                                pizza
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="carousel-cont">
                            <div class="carousel-elem">
                                <img class="carousel-img" src="static/img/food5.svg" alt="First slide">
                                Pizza
                            </div>
                            <div class="carousel-elem">
                                <img class="carousel-img" src="static/img/food3.svg" alt="First slide">
                                pizza
                            </div>
                            <div class="carousel-elem">
                                <img class="carousel-img" src="static/img/food2.svg" alt="First slide">
                                pizza
                            </div>
                            <div class="carousel-elem">
                                <img class="carousel-img" src="static/img/food1.svg" alt="First slide">
                                pizza
                            </div>
                            <div class="carousel-elem">
                                <img class="carousel-img" src="static/img/food4.svg" alt="First slide">
                                pizza
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="carousel-cont">
                            <div class="carousel-elem">
                                <img class="carousel-img" src="static/img/food3.svg" alt="First slide">
                                Pizza
                            </div>
                            <div class="carousel-elem">
                                <img class="carousel-img" src="static/img/food4.svg" alt="First slide">
                                pizza
                            </div>
                            <div class="carousel-elem">
                                <img class="carousel-img" src="static/img/food5.svg" alt="First slide">
                                pizza
                            </div>
                            <div class="carousel-elem">
                                <img class="carousel-img" src="static/img/food2.svg" alt="First slide">
                                pizza
                            </div>
                            <div class="carousel-elem">
                                <img class="carousel-img" src="static/img/food1.svg" alt="First slide">
                                pizza
                            </div>
                        </div>
                    </div>

                </div>
                <ol class="carousel-indicators" style="position: static; margin-top: 10px;">
                    <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-slider" data-slide-to="1"></li>
                    <li data-target="#carousel-slider" data-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </div>

    <!-- SECTION 2 -->
    <div class="section2">
        <div class="foodList">
            <div class="foodItem">
                <div class="itemLeft">
                    Double Decker <br>
                    Rs. 420
                </div>
                <div class="itemRight">
                    <div class="qty">
                        <span class="minus minus1">-</span>
                        <input type="number" class="count count1" name="qty" value="0" style="color: white;">
                        <span class="plus plus1">+</span>
                    </div>
                </div>
            </div>
            <div class="foodItem">
                <div class="itemLeft">
                    Little Italy <br>
                    Rs. 420
                </div>
                <div class="itemRight">
                    <div class="qty">
                        <span class="minus minus2">-</span>
                        <input type="number" class="count count2" name="qty" value="0" style="color: white;">
                        <span class="plus plus2">+</span>
                    </div>
                </div>
            </div>
            <div class="foodItem">
                <div class="itemLeft">
                    La Belle <br>
                    Rs. 420
                </div>
                <div class="itemRight">
                    <div class="qty">
                        <span class="minus minus3">-</span>
                        <input type="number" class="count count3" name="qty" value="0" style="color: white;">
                        <span class="plus plus3">+</span>
                    </div>
                </div>
            </div>
            <div class="foodItem">
                <div class="itemLeft">
                    Go Canadian <br>
                    Rs. 420
                </div>
                <div class="itemRight">
                    <div class="qty">
                        <span class="minus minus4">-</span>
                        <input type="number" class="count count4" name="qty" value="0" style="color: white;">
                        <span class="plus plus4">+</span>
                    </div>
                </div>
            </div>
            <div class="foodItem">
                <div class="itemLeft">
                    Smokin’67 <br>
                    Rs. 420
                </div>
                <div class="itemRight">
                    <div class="qty">
                        <span class="minus minus5">-</span>
                        <input type="number" class="count count5" name="qty" value="0" style="color: white;">
                        <a href="/cart"> <span class="plus plus5">+</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SECTION 3 -->
    <div class="section3">
        <div id="scroller">
            <div id="wrapper">
                <div id="toolbar-and-content">
                    <div id="toolbar">PULL ME</div>
                    <div id="toolbar-content">
                        <div id = "itm1" class="cartItem">
                            <div>
                                Go Canadian
                            </div>
                            <div>
                                X 2
                            </div>
                            <div>
                                840
                            </div>
                        </div>
                        <div id = "itm2" class="cartItem">
                            <div>
                                La belle
                            </div>
                            <div>
                                X 1
                            </div>
                            <div>
                                420
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
<script>
    var qtyArray = [0,0,0,0,0];

    async function updateItem(iID, qty) {
        await $.ajax({
            type: "POST",
            url: '/update',
            data: {
                'iID': iID,
                'qty': qty
            },
            success: function (data) {
                for (i = 0; i < data['cart'].length; i++) {
                    qtyArray[i] = data['cart'][i]['qty']
                }
                updateCart();
            }
        });
    }

    $(document).ready(async function () {
        
        await $.ajax({
                type: "POST",
                url: '/',
                success: function (data) {
                    for (i = 0; i < data['cart'].length; i++) {
                        qtyArray[i] = data['cart'][i]['qty']
                    }
                    updateCart();
                }
        });

        $('.count1').prop('disabled', true);
        $('.count1').val(null ? 0 : qtyArray[0]);
        $('.count2').val(null ? 0 : qtyArray[1]);
        $('.count3').val(null ? 0 : qtyArray[2]);
        $('.count4').val(null ? 0 : qtyArray[3]);
        $('.count5').val(null ? 0 : qtyArray[4]);
        $(document).on('click', '.plus1', function () {
            $('.count1').val(parseInt($('.count1').val()) + 1);
            let iID = 1;
            qtyArray[0] = Number(qtyArray[0]) + 1;
            updateItem(iID, qtyArray[0]);
        });
        $(document).on('click', '.minus1', function () {
            $('.count1').val(parseInt($('.count1').val()) - 1);
            let iID = 1;
            qtyArray[0] = Number(qtyArray[0]) - 1;
            if (qtyArray[0] < 0)
                qtyArray[0] = 0
            if ($('.count1').val() < 0) {
                $('.count1').val(0);
            }
            updateItem(iID, qtyArray[0]);
        });

        $('.count2').prop('disabled', true);
        $(document).on('click', '.plus2', function () {
            $('.count2').val(parseInt($('.count2').val()) + 1);
            let iID = 2;
            qtyArray[1] = Number(qtyArray[1]) + 1;
            updateItem(iID, qtyArray[1]);
        });
        $(document).on('click', '.minus2', function () {
            $('.count2').val(parseInt($('.count2').val()) - 1);
            let iID = 2;
            qtyArray[1] = Number(qtyArray[1]) - 1;
            if (qtyArray[1] < 0)
                qtyArray[1] = 0
            if ($('.count2').val() < 0) {
                $('.count2').val(0);
            }
            updateItem(iID, qtyArray[1]);
        });

        $('.count3').prop('disabled', true);
        $(document).on('click', '.plus3', function () {
            $('.count3').val(parseInt($('.count3').val()) + 1);
            let iID = 3;
            qtyArray[2] = Number(qtyArray[2]) + 1;
            updateItem(iID, qtyArray[2]);
        });
        $(document).on('click', '.minus3', function () {
            $('.count3').val(parseInt($('.count3').val()) - 1);
            let iID = 3;
            qtyArray[2] = Number(qtyArray[2]) - 1;
            if (qtyArray[2] < 0)
                qtyArray[2] = 0
            if ($('.count3').val() < 0) {
                $('.count3').val(0);
            }
            updateItem(iID, qtyArray[2]);
        });

        $('.count4').prop('disabled', true);
        $(document).on('click', '.plus4', function () {
            $('.count4').val(parseInt($('.count4').val()) + 1);
            let iID = 4;
            qtyArray[3] = Number(qtyArray[3]) + 1;
            updateItem(iID, qtyArray[3]);
        });
        $(document).on('click', '.minus4', function () {
            $('.count4').val(parseInt($('.count4').val()) - 1);
            let iID = 4;
            qtyArray[3] = Number(qtyArray[3]) - 1;
            if (qtyArray[3] < 0)
                qtyArray[3] = 0
            if ($('.count4').val() < 0) {
                $('.count4').val(0);
            }
            updateItem(iID, qtyArray[3]);
        });

        $('.count5').prop('disabled', true);
        $(document).on('click', '.plus5', function () {
            $('.count5').val(parseInt($('.count5').val()) + 1);
            let iID = 5;
            qtyArray[4] = Number(qtyArray[4]) + 1;
            updateItem(iID, qtyArray[4]);
        });
        $(document).on('click', '.minus5', function () {
            $('.count5').val(parseInt($('.count5').val()) - 1);
            let iID = 5;
            qtyArray[4] = Number(qtyArray[4]) - 1;
            if (qtyArray[4] < 0)
                qtyArray[4] = 0
            if ($('.count4').val() < 0) {
                $('.count4').val(0);
            }
            updateItem(iID, qtyArray[4]);
        });
    });
    let updateCart = async () => 
    {
        let pizzas = ["Double Decker", "Little Italy", "La Belle", "Go Canadian", "Smokin’67"]
        for(i = 0; i<qtyArray.length; i++)
        {
                    if (qtyArray[i] > 0)
                    {
                        if(document.getElementById(`item${i}`) == null)
                        {
                            var div = document.createElement(`item${i}`);
                            div.id = `item${i}`
                            div.class = "cartItem"
                            div.innerHTML = pizzas[i];
                            document.getElementById("toolbar-content").appendChild(div);
                        }
                    }
                    else if(qtyArray[i] <= 0)
                    {
                        if(document.getElementById(`item${i}`) != null)
                        {
                            var del = await document.getElementById(`item${i}`)
                            del.remove()
                        }
                    }
        }
    }

</script>

</html>